@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
@source '../../../**/templates/**/**/*.html';
@source '../../../**/templates/**/*.html';
@source '../../templates/**/*.html';
@source '../../**/templates/**/*.html';
@source '../../**/*.js';
@source '../../**/*.py';
@source '../static/**/**/*.css';
@source '../../static/**/**/*.css';
@source '../**/templates/**/*.html';
@source '../../templates/**/*.html';
@source '../../**/templates/**/*.html';
@source '../../../**/**/*.py';
@source '../../../**/**/*.svg';

@theme {
  --color-primary_color: #F8FCD7; /*#e8e9c0;  /* Variable para el color primario */
  --color-secondary_color: #b0ed9c;
  --color-primary_color_bg: #203331; /* Variable para el color de fondo 203331*/
  --color-secondary_color_bg: #FEFDF6; /* Variable para el color de fondo secundario */
}