{% load static %}

<header class="py-4 bg-primary_color_bg text-white">
    <div class="mx-auto max-w-[95%] lg:max-w-18/20 xl:max-w-16/20 2xl:max-w-15/20 flex items-center h-20">
        <a href="{% url 'frontpage' %}"><h1 class="w-[10%] text-3xl font-bold flex items-center max-lg:ml-5">Finovara</h1></a>
        <!-- Menu PC -->
        <nav class="max-lg:hidden w-[90%] text-xl flex justify-end items-center">
            <div class="space-x-2 xl:space-x-8">
                {% for item in menu_items %}
                    {% if item.submenu %}
                        <div class="group relative inline-block px-5 cursor-pointer">
                            <span class="hover:text-secondary_color flex items-center space-x-2">
                                <span>{{ item.name }}</span>
                                <img src="{% static 'svg/arrow.svg' %}" class="w-6 h-6 rotate-180 transform transition-transform duration-100 delay-150 group-hover:rotate-0 scale-50">
                            </span>
                            <div class="hidden group-hover:block absolute w-60 transition-opacity delay-300 duration-200 left-0">
                                <div class="py-2">
                                    <div class="bg-[#FEFFF5] text-black shadow-lg rounded-lg">
                                        {% for sub in item.submenu %}
                                            <a href="{{ sub.url }}" class="block px-4 py-2 hover:bg-[#FEFFF5] hover:rounded-lg">{{ sub.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ item.url }}" class="hover:text-secondary_color px-3">{{ item.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Auth Links -->
            <div class="px-4 flex space-x-3">
                <a href="#" class="px-2 py-1.5 text-base text-black bg-pink-200 w-[130px] border-2 rounded-full font-semibold flex justify-center">Sign Up</a>
                <a href="#" class="px-2 py-1.5 text-base w-[130px] border-2  rounded-full font-semibold flex justify-center">Login</a>
            </div>
        </nav>

        <!-- Menu Mobile -->
        <div class="min-lg:hidden w-[90%] text-xl flex justify-end items-center relative">
            <div>
                <img src="{% static 'svg/menu.svg' %}" id="svg-menu-button" class="w-8 h-8 cursor-pointer">
                <div id="div-menu-button" class="hidden absolute w-[300px] right-0 top-14 rounded-xl bg-[#FEFFF5] text-black shadow-lg">
                    {% for item in menu_items %}
                        {% if item.submenu %}
                            <div class="mx-5 my-7 text-base font-medium text-black">
                                <div class="toggle-submenu flex justify-between cursor-pointer">
                                    <div>{{ item.name }}</div>
                                    <img src="{% static 'svg/arrow.svg' %}" class="invert w-6 h-6 rotate-180 transform transition-transform duration-100 delay-150 group-hover:rotate-0 scale-50 select-none">
                                </div>
                                <div class="submenu-content hidden">
                                    {% for sub in item.submenu %}
                                        <a href="{{ sub.url }}" class="block px-4 py-2 hover:bg-[#2b373b] hover:text-white rounded-full">{{ sub.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="mx-5 my-7 text-base font-medium text-black">
                                <a href="{{ item.url }}" class="flex justify-between cursor-pointer">{{ item.name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Auth Links -->
                    <div>
                        <a href="#" class="mx-3 my-4 px-2 py-1.5 text-base shadow-xl border border-gray-200 rounded-full font-semibold flex justify-center">Login</a>
                        <a href="#" class="mx-3 my-4 px-2 py-1.5 text-base text-black bg-pink-200 shadow-xl border border-gray-200 rounded-full font-semibold flex justify-center">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="{% static 'js/core_components/menu_base.js' %}"></script>



