{% load static %}
{% load static tailwind_tags %}
{% load reactpy %}


<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        
        {% include 'partials/base_styles.html' %}
    </head>

    <body class="text-primary_color bg-primary_color_bg">

        {% block header %}
            {% component "core.components.MenuBase" %}
        {% endblock %}

        <main class="mx-60 mt-10">
            {% block content%}
            {% endblock %}
        </main>

    </body>

</html>