{% extends 'base/base_app.html' %}

{% load static %}

{% block content%}


<div class="h-screen text-black bg-secondary_color_bg">

    {% include 'partials/connect_institution.html' %}
    <div class="flex">

        <!-- Menu-dashboard -->
        {% include 'partials/menuDashboard.html' %}

        <div class="flex-1 min-h-screen p-6 bg-secondary_color_bg ml-[210px] overflow-auto">
            <h1 class="text-2xl font-semibold">Dashboard</h1>
            <div class="h-screen"></div>
        </div>
    </div>
    
</div>

{% block scripts %}
<script src="{% static 'js/banking_components/institutions.js' %}"></script>
{% endblock %}

{% endblock %}