{% extends 'base/base.html' %}

{% block content%}


<div>
    <h1 class="text-2xl font-semibold">Conexión con la API Prueba</h1>
    <a href="{{ url_link }}" class="text-blue-500 underline">
        {{url_link}}
    </a>
</div>



<div class="mt-5">
    {% for institution in institutions %}
        <div class="flex flex-row">
            <div class="w-1/7">{{institution.id}}</div>
            <div class="w-1/7">{{institution.logo_url}}</div>
            <div class="w-1/7">{{institution.bic}}</div>
            <div class="w-1/7">{{institution.countries}}</div>
            <div class="w-1/7">{{institution.name}}</div>
            <div class="w-1/7">
                <img src="{{ institution.logo }}" alt="Logo de la institución" width="50"/>
            </div>
        </div>
    {% endfor %}

</div>




{% endblock %}